.container-column-landing-grid {
  flex-direction: column;
  width: 90vw;
  height: 35vh;
  box-shadow: rgb(0 0 0 / 32%) 1px 1px 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: center;
  padding-left: 40px;
  margin-bottom: 20px;
  margin-right: 10px;
}

.product-title {
  color: #003761;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 10px;
}

.direction-col {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-container {
  width: 90vw;
}
